* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
  }
  
  html,
  body {
    padding: 0px;
    margin: 0px;
    background-color: #0a003e;
  }
  
  /* This element, and the next 6, add style to the navigation menu */
  header {
    background-image: url("../images/header_footer.jpeg");
    text-align: center;
    padding-bottom: 60px;
    background-color: #000029;
    background-size: cover;
  }
  
  .nav ul {
    margin: 0px;
  }
  
  .nav li {
    display: inline;
  }
  
  .nav a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
  }
  
  .main-nav {
    text-align: end;
    font-size: 25px;
  }
  
  .nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .student-name {
    margin: 0px;
    font-size: 50px;
    font-weight: normal;
  }
  
  /* The styling of the About Me section starts here */
  .section-content {
    margin: 20px;
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .container::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .section-header {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
  }
  
  .about-me-image {
    margin: 20px;
    border-radius: 20px;
    float: left;
  }
  
  .about-me-content {
    font-size: 20px;
    max-width: 99%;
    text-align: justify;
  }
  
  /* applications section */
  .title-image-card {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px 5px;
    text-align: center;
    width: 48%;
  }
  
  .application-title {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
  
  .zoom {
    transition: transform 0.2s;
    margin: 0 5px;
  }
  
  .zoom:hover {
    transform: scale(1.5);
  }

  /* Adds space between footer and images */
  #my-work {
    margin-bottom: 50px;
  }
  
  /* Styling of footer begins here */
  .main-footer {
    background-image: url("../images/header_footer.jpeg");
    padding: 5px 0;
    background-color: #000029;
    background-size: cover;
  }
  
  .main-footer-container {
    display: flex;
    align-items: center;
  }
  
  .main-footer-container ul {
    flex-grow: 1;
    text-align: end;
  }
  
  .footer-nav li {
    padding: 0 5px;
  }
  
  .footer-name {
    font-weight: normal;
    font-size: 35px;
    margin-left: 10px;
  }
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    .nav {
      text-align: center;
    }
  
    .nav li {
      display: block;
      margin-bottom: 10px;
    }
  
    .footer-name {
      margin-left: 0;
    }

    .title-image-card {
        /* flex-direction: column; */
        width: 100%;
        margin: 10px 0;
    }
  }
